code {
    display: inline-block;
    background: lightgray;
    border: 0.5px solid black;
    padding: 5px 10px;
    border-radius: 8px;
}
html {
    padding: 0;
    margin: 0;
    min-height: 100%;
}
body {
    text-align: center;
    font-family: Roboto, monospace, Arial, sans-serif;
    background-image: linear-gradient(to bottom right, lightblue, orange);
    min-height: 100%;
    margin: 0;
}
ol {
    padding: 0;
}
li {
    font-size: 14px;
    padding: 5px 5%;
    text-shadow: 0 0 0 #000;
    transition: 0.2s all;
    border-radius: 20px;
    font-size: 2em;
    list-style-position: inside;
}
li:hover {
    text-shadow: 0.5px 0 0 #000, -0.5px 0 0 #000, 0 0.5px 0 #000, 0 -0.5px 0 #000, 0.25px 0.25px #000, -0.25px -0.25px 0 #000, 0.25px -0.25px 0 #000, -0.25px 0.25px 0 #000;
    background: #aaaaaa55;
    margin: 0 5%;
    border-radius: 20px;
    padding: 5px 0;
}
p {
    display: inline;
}
h1 {
    font-size: 5em;
}
